body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* bigger column width */
    gap: 30px;
}

.button-grid img {
    height: 50px;
    width: 50px;
}

.button-grid button {
    font-size: 3rem;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 100%;
    border: none;
    outline: none;
    color: #e5e5e5;
}

.button-grid .special-btn {
    background-color: #cecece;
}

.button-grid .special-btn img {
    height: 40px;
    width: 40px;
}

.button-grid .call-btn {
    background-color: #4bd867;
}